.box {
    background-color: rgb(173, 160, 126);


    padding: 1%;
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.Fotoo {
    width: 150px;
    object-fit: contain;
}

h1 {
    text-align: center;
}